<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
		integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/CSS/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/CSS/style.css">
	<title>Eat Da Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/script.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>